<div class="container">
  <h2 class="employee-add-title">従業員情報修正</h2>
  <form class="employee-form">
    <div class="name-row">
      <label>氏名</label>
      <div class="name-input-group">
        <input type="text" name="lastName" [value]="employee?.lastName || ''" placeholder="姓" class="name-input">
        <div class="name-divider"></div>
        <input type="text" name="firstName" [value]="employee?.firstName || ''" placeholder="名" class="name-input">
      </div>
    </div>
    <div class="gender-row">
      <label>性別</label>
      <div class="gender-input-group">
        <label class="gender-label">
          <input type="radio" name="gender" value="男" class="gender-radio" [checked]="employee?.gender === '男'">男
        </label>
        <div class="gender-divider"></div>
        <label class="gender-label">
          <input type="radio" name="gender" value="女" class="gender-radio" [checked]="employee?.gender === '女'">女
        </label>
      </div>
    </div>
    <div class="birthdate-row">
      <label>生年月日</label>
      <div class="birthdate-inline">
        <input type="date" name="birthdate" [value]="employee?.birthdate || ''" class="birthdate-input" disabled>
        <span class="age-display-inline">年齢: {{ employee?.age || '' }}</span>
      </div>
    </div>
    <div>
      <label>学生区分</label>
      <select name="isStudent" [value]="employee?.isStudent || ''">
        <option value="" disabled>選択してください</option>
        <option value="学生">学生</option>
        <option value="学生ではない">学生ではない</option>
      </select>
    </div>
    <div>
      <label>国籍</label>
      <select name="nationality" class="nationality-select" [value]="employee?.nationality || ''">
        <option value="" disabled>選択してください</option>
        <option value="日本">日本</option>
        <option value="アフガニスタン">アフガニスタン</option>
        <option value="アルバニア">アルバニア</option>
        <option value="アルジェリア">アルジェリア</option>
        <option value="アンドラ">アンドラ</option>
        <option value="アンゴラ">アンゴラ</option>
        <option value="アンティグア・バーブーダ">アンティグア・バーブーダ</option>
        <option value="アルゼンチン">アルゼンチン</option>
        <option value="アルメニア">アルメニア</option>
        <option value="オーストラリア">オーストラリア</option>
        <option value="オーストリア">オーストリア</option>
        <option value="アゼルバイジャン">アゼルバイジャン</option>
        <option value="バハマ">バハマ</option>
        <option value="バーレーン">バーレーン</option>
        <option value="バングラデシュ">バングラデシュ</option>
        <option value="バルバドス">バルバドス</option>
        <option value="ベラルーシ">ベラルーシ</option>
        <option value="ベルギー">ベルギー</option>
        <option value="ベリーズ">ベリーズ</option>
        <option value="ベナン">ベナン</option>
        <option value="ブータン">ブータン</option>
        <option value="ボリビア">ボリビア</option>
        <option value="ボスニア・ヘルツェゴビナ">ボスニア・ヘルツェゴビナ</option>
        <option value="ボツワナ">ボツワナ</option>
        <option value="ブラジル">ブラジル</option>
        <option value="ブルネイ">ブルネイ</option>
        <option value="ブルガリア">ブルガリア</option>
        <option value="ブルキナファソ">ブルキナファソ</option>
        <option value="ブルンジ">ブルンジ</option>
        <option value="カンボジア">カンボジア</option>
        <option value="カメルーン">カメルーン</option>
        <option value="カナダ">カナダ</option>
        <option value="カーボベルデ">カーボベルデ</option>
        <option value="中央アフリカ">中央アフリカ</option>
        <option value="チャド">チャド</option>
        <option value="チリ">チリ</option>
        <option value="中国">中国</option>
        <option value="コロンビア">コロンビア</option>
        <option value="コモロ">コモロ</option>
        <option value="コンゴ共和国">コンゴ共和国</option>
        <option value="コンゴ民主共和国">コンゴ民主共和国</option>
        <option value="コスタリカ">コスタリカ</option>
        <option value="コートジボワール">コートジボワール</option>
        <option value="クロアチア">クロアチア</option>
        <option value="キューバ">キューバ</option>
        <option value="キプロス">キプロス</option>
        <option value="チェコ">チェコ</option>
        <option value="デンマーク">デンマーク</option>
        <option value="ジブチ">ジブチ</option>
        <option value="ドミニカ国">ドミニカ国</option>
        <option value="ドミニカ共和国">ドミニカ共和国</option>
        <option value="東ティモール">東ティモール</option>
        <option value="エクアドル">エクアドル</option>
        <option value="エジプト">エジプト</option>
        <option value="エルサルバドル">エルサルバドル</option>
        <option value="赤道ギニア">赤道ギニア</option>
        <option value="エリトリア">エリトリア</option>
        <option value="エストニア">エストニア</option>
        <option value="エスワティニ">エスワティニ</option>
        <option value="エチオピア">エチオピア</option>
        <option value="フィジー">フィジー</option>
        <option value="フィンランド">フィンランド</option>
        <option value="フランス">フランス</option>
        <option value="ガボン">ガボン</option>
        <option value="ガンビア">ガンビア</option>
        <option value="ジョージア">ジョージア</option>
        <option value="ドイツ">ドイツ</option>
        <option value="ガーナ">ガーナ</option>
        <option value="ギリシャ">ギリシャ</option>
        <option value="グレナダ">グレナダ</option>
        <option value="グアテマラ">グアテマラ</option>
        <option value="ギニア">ギニア</option>
        <option value="ギニアビサウ">ギニアビサウ</option>
        <option value="ガイアナ">ガイアナ</option>
        <option value="ハイチ">ハイチ</option>
        <option value="ホンジュラス">ホンジュラス</option>
        <option value="ハンガリー">ハンガリー</option>
        <option value="アイスランド">アイスランド</option>
        <option value="インド">インド</option>
        <option value="インドネシア">インドネシア</option>
        <option value="イラン">イラン</option>
        <option value="イラク">イラク</option>
        <option value="アイルランド">アイルランド</option>
        <option value="イスラエル">イスラエル</option>
        <option value="イタリア">イタリア</option>
        <option value="ジャマイカ">ジャマイカ</option>
        <option value="ヨルダン">ヨルダン</option>
        <option value="カザフスタン">カザフスタン</option>
        <option value="ケニア">ケニア</option>
        <option value="キリバス">キリバス</option>
        <option value="韓国">韓国</option>
        <option value="クウェート">クウェート</option>
        <option value="キルギス">キルギス</option>
        <option value="ラオス">ラオス</option>
        <option value="ラトビア">ラトビア</option>
        <option value="レバノン">レバノン</option>
        <option value="レソト">レソト</option>
        <option value="リベリア">リベリア</option>
        <option value="リビア">リビア</option>
        <option value="リヒテンシュタイン">リヒテンシュタイン</option>
        <option value="リトアニア">リトアニア</option>
        <option value="ルクセンブルク">ルクセンブルク</option>
        <option value="マダガスカル">マダガスカル</option>
        <option value="マラウイ">マラウイ</option>
        <option value="マレーシア">マレーシア</option>
        <option value="モルディブ">モルディブ</option>
        <option value="マリ">マリ</option>
        <option value="マルタ">マルタ</option>
        <option value="マーシャル諸島">マーシャル諸島</option>
        <option value="モーリタニア">モーリタニア</option>
        <option value="モーリシャス">モーリシャス</option>
        <option value="メキシコ">メキシコ</option>
        <option value="ミクロネシア">ミクロネシア</option>
        <option value="モルドバ">モルドバ</option>
        <option value="モナコ">モナコ</option>
        <option value="モンゴル">モンゴル</option>
        <option value="モンテネグロ">モンテネグロ</option>
        <option value="モロッコ">モロッコ</option>
        <option value="モザンビーク">モザンビーク</option>
        <option value="ミャンマー">ミャンマー</option>
        <option value="ナミビア">ナミビア</option>
        <option value="ナウル">ナウル</option>
        <option value="ネパール">ネパール</option>
        <option value="オランダ">オランダ</option>
        <option value="ニュージーランド">ニュージーランド</option>
        <option value="ニカラグア">ニカラグア</option>
        <option value="ニジェール">ニジェール</option>
        <option value="ナイジェリア">ナイジェリア</option>
        <option value="北マケドニア">北マケドニア</option>
        <option value="ノルウェー">ノルウェー</option>
        <option value="オマーン">オマーン</option>
        <option value="パキスタン">パキスタン</option>
        <option value="パラオ">パラオ</option>
        <option value="パナマ">パナマ</option>
        <option value="パプアニューギニア">パプアニューギニア</option>
        <option value="パラグアイ">パラグアイ</option>
        <option value="ペルー">ペルー</option>
        <option value="フィリピン">フィリピン</option>
        <option value="ポーランド">ポーランド</option>
        <option value="ポルトガル">ポルトガル</option>
        <option value="カタール">カタール</option>
        <option value="ルーマニア">ルーマニア</option>
        <option value="ロシア">ロシア</option>
        <option value="ルワンダ">ルワンダ</option>
        <option value="セントクリストファー・ネーヴィス">セントクリストファー・ネーヴィス</option>
        <option value="セントルシア">セントルシア</option>
        <option value="セントビンセント・グレナディーン">セントビンセント・グレナディーン</option>
        <option value="サモア">サモア</option>
        <option value="サンマリノ">サンマリノ</option>
        <option value="サントメ・プリンシペ">サントメ・プリンシペ</option>
        <option value="サウジアラビア">サウジアラビア</option>
        <option value="セネガル">セネガル</option>
        <option value="セルビア">セルビア</option>
        <option value="セーシェル">セーシェル</option>
        <option value="シエラレオネ">シエラレオネ</option>
        <option value="シンガポール">シンガポール</option>
        <option value="スロバキア">スロバキア</option>
        <option value="スロベニア">スロベニア</option>
        <option value="ソロモン諸島">ソロモン諸島</option>
        <option value="ソマリア">ソマリア</option>
        <option value="南アフリカ">南アフリカ</option>
        <option value="南スーダン">南スーダン</option>
        <option value="スペイン">スペイン</option>
        <option value="スリランカ">スリランカ</option>
        <option value="スーダン">スーダン</option>
        <option value="スリナム">スリナム</option>
        <option value="スウェーデン">スウェーデン</option>
        <option value="スイス">スイス</option>
        <option value="シリア">シリア</option>
        <option value="タジキスタン">タジキスタン</option>
        <option value="タンザニア">タンザニア</option>
        <option value="タイ">タイ</option>
        <option value="トーゴ">トーゴ</option>
        <option value="トンガ">トンガ</option>
        <option value="トリニダード・トバゴ">トリニダード・トバゴ</option>
        <option value="チュニジア">チュニジア</option>
        <option value="トルコ">トルコ</option>
        <option value="トルクメニスタン">トルクメニスタン</option>
        <option value="ツバル">ツバル</option>
        <option value="ウガンダ">ウガンダ</option>
        <option value="ウクライナ">ウクライナ</option>
        <option value="アラブ首長国連邦">アラブ首長国連邦</option>
        <option value="イギリス">イギリス</option>
        <option value="アメリカ合衆国">アメリカ合衆国</option>
        <option value="ウルグアイ">ウルグアイ</option>
        <option value="ウズベキスタン">ウズベキスタン</option>
        <option value="バヌアツ">バヌアツ</option>
        <option value="バチカン">バチカン</option>
        <option value="ベネズエラ">ベネズエラ</option>
        <option value="ベトナム">ベトナム</option>
        <option value="イエメン">イエメン</option>
        <option value="ザンビア">ザンビア</option>
        <option value="ジンバブエ">ジンバブエ</option>
      </select>
    </div>
    <div>
      <label>所属事業所</label>
      <select name="office" [value]="employee?.officeName || ''">
        <option value="" disabled>選択してください</option>
        <option *ngFor="let office of companyOffices" [value]="office.id">{{ office.officeName }}</option>
      </select>
    </div>
    <div>
      <label>雇用形態</label>
      <select name="employmentType" [value]="employee?.employmentType || ''">
        <option value="" disabled>選択してください</option>
        <option value="正社員">正社員</option>
        <option value="契約社員">契約社員</option>
        <option value="パート・アルバイト">パート・アルバイト</option>
        <option value="その他">その他</option>
      </select>
      <input type="text" name="otherEmploymentType" [value]="employee?.otherEmploymentType || ''" placeholder="雇用形態を入力してください" disabled>
    </div>
    <div>
      <label>雇用契約期間</label>
      <select name="employmentPeriodType" [value]="employee?.employmentPeriodType || ''" disabled>
        <option value="" disabled>選択してください</option>
        <option value="無期">無期</option>
        <option value="有期">有期</option>
      </select>
      <div class="employment-period-range">
        <label>開始年月日</label>
        <input type="date" name="employmentPeriodStart" [value]="employee?.employmentPeriodStart || ''" disabled>
        <label>終了年月日</label>
        <input type="date" name="employmentPeriodEnd" [value]="employee?.employmentPeriodEnd || ''" disabled>
      </div>
    </div>
    <div>
      <label>所定労働日数（月）</label>
      <input type="text" name="workDays" [value]="employee?.workDays || ''" disabled>
    </div>
    <div>
      <label>所定労働時間（週）</label>
      <input type="text" name="workHours" [value]="employee?.workHours || ''" disabled>
    </div>
    <div class="form-row">
      <label style="display: flex; align-items: center; gap: 6px;">
        報酬月額（通貨）
      </label>
      <input id="salaryCash" name="salaryCash" type="text" [value]="employee?.salaryCash || ''" autocomplete="off" disabled />
    </div>
    <div>
      <label style="display: flex; align-items: center; gap: 6px;">
        報酬月額（現物）
      </label>
      <input type="text" name="salaryInKind" [value]="employee?.salaryInKind || ''" autocomplete="off" inputmode="numeric" pattern="[0-9]*" disabled>
      <div class="salary-total-row">
        <span>報酬月額（合計）: <strong>{{ employee?.salaryTotal || '' }}</strong> 円</span>
      </div>
    </div>
    <div class="salary-std-row">
      <span>標準報酬月額（健康保険・介護保険）: {{ employee?.stdSalaryHealth || '---' }}</span>
    </div>
    <div class="salary-std-row">
      <span>標準報酬月額（厚生年金）: {{ employee?.stdSalaryPension || '---' }}</span>
    </div>
    <div>
      <label>資格取得年月日（入社日）</label>
      <input type="date" name="joinDate" [value]="employee?.joinDate || ''" disabled>
    </div>
    <div>
      <label>資格喪失年月日（退職日）</label>
      <input type="date" name="leaveDate" [value]="employee?.leaveDate || ''" disabled>
    </div>
    <div>
      <label>被扶養者の有無</label>
      <select name="dependentStatus" [value]="employee?.dependentStatus || ''" disabled>
        <option value="" disabled>選択してください</option>
        <option value="被扶養者あり">被扶養者あり</option>
        <option value="被扶養者なし">被扶養者なし</option>
      </select>
      <div class="dependent-relations">
        <div class="relation-row">
          <label>続柄</label>
          <input type="text" name="dependentRelation0" [value]="employee?.dependentRelations?.[0] || ''" disabled>
          <button type="button" disabled>削除</button>
        </div>
        <button type="button" disabled>＋追加</button>
      </div>
    </div>
    <div>
      <label>外国派遣労働者区分</label>
      <select name="dispatchedAbroad" [value]="employee?.dispatchedAbroad || ''" disabled>
        <option value="" disabled>選択してください</option>
        <option value="日本から外国への派遣労働者">日本から外国への派遣労働者</option>
        <option value="外国から日本への派遣労働者">外国から日本への派遣労働者</option>
        <option value="該当しない">該当しない</option>
      </select>
      <div class="multi-office-extra">
        <div>
          <label style="display: flex; align-items: center; gap: 6px;">
            社会保障協定国
          </label>
          <select name="socialSecurityAgreement" [value]="employee?.socialSecurityAgreement || ''" disabled>
            <option value="" disabled>選択してください</option>
            <option value="該当する">該当する</option>
            <option value="該当しない">該当しない</option>
          </select>
        </div>
        <div>
          <label>一時派遣（5年以内）</label>
          <select name="temporaryDispatch" [value]="employee?.temporaryDispatch || ''" disabled>
            <option value="" disabled>選択してください</option>
            <option value="該当する">該当する</option>
            <option value="該当しない">該当しない</option>
          </select>
        </div>
      </div>
    </div>
    <div>
      <label>二以上事業所勤務区分</label>
      <select name="multiOffice" [value]="employee?.multiOffice || ''" disabled>
        <option value="" disabled>選択してください</option>
        <option value="該当する">該当する</option>
        <option value="該当しない">該当しない</option>
      </select>
      <div class="multi-office-card">
        <div class="multi-office-row">
          <label class="multi-office-label">選択事業所／非選択事業所</label>
          <select class="multi-office-input" name="selectedOfficeType" [value]="employee?.selectedOfficeType || ''" disabled>
            <option value="" disabled>選択してください</option>
            <option value="選択事業所">選択事業所</option>
            <option value="非選択事業所">非選択事業所</option>
          </select>
        </div>
        <div class="multi-office-row">
          <label class="multi-office-label">合算報酬月額（通貨+現物）</label>
          <input class="multi-office-input" type="text" name="combinedSalary" [value]="employee?.combinedSalary || ''" autocomplete="off" inputmode="numeric" pattern="[0-9]*" disabled>
        </div>
        <div class="multi-office-row">
          <label class="multi-office-label">合算標準報酬月額<br>（健康保険・介護保険）</label>
          <span class="multi-office-input">{{ employee?.combinedStdSalaryKenpo || '---' }}</span>
        </div>
        <div class="multi-office-row">
          <label class="multi-office-label">合算標準報酬月額（厚生年金）</label>
          <span class="multi-office-input">{{ employee?.combinedStdSalaryNenkin || '---' }}</span>
        </div>
      </div>
    </div>
  </form>
  <div style="display: flex; justify-content: flex-end; margin-top: 32px;">
    <button type="button" class="save-btn">登録</button>
  </div>
</div>
