<app-header></app-header>
<div class="home-header" [ngClass]="{'home-header-alert': notificationMessage}">
  {{ notificationMessage ? notificationMessage : '通知はありません' }}
</div>
<div class="home-btn-container">
  <a class="home-btn" routerLink="/employee-list">
    従業員一覧
    <mat-icon class="home-btn-icon">people</mat-icon>
  </a>
  <a class="home-btn" routerLink="/employee-add">
    従業員登録
    <mat-icon class="home-btn-icon">person_add</mat-icon>
  </a>
  <a class="home-btn" routerLink="/admin-setting">
    管理者設定
    <mat-icon class="home-btn-icon">admin_panel_settings</mat-icon>
  </a>
  <a class="home-btn" routerLink="/company-setting">
    会社・事業所情報
    <mat-icon class="home-btn-icon">business</mat-icon>
  </a>
  <a class="home-btn" routerLink="/rates-management">
    保険料率管理
    <mat-icon class="home-btn-icon">percent</mat-icon>
  </a>
  <a class="home-btn" routerLink="/recalculate">
    一斉算出
    <mat-icon class="home-btn-icon">calculate</mat-icon>
  </a>
</div>